.content {
  background: #333;
  color: #fff;
  width: 200px;
  padding: 10px 20px;
  height: 100vh;
}

.menu-item {
  color: #fff;
  text-decoration: none;
}

.icon {
  color: #fff;
  margin-right: 10px;
}